<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="database/css/style.css">
<title>UConnect | My Account</title>
</head>
<body>
    <div class = "navbar">
        <a href = "/database/Index.html" title="home">Home</a>
        <a href = "/database/search.html" title = "search">Search</a>
        <a href = "/database/launch.html" title = "launch">Launch</a>
        <a href = "/datbase/account.html" title = "account">My Account</a>
    </div>

<h1> This page will show the users own account, and like be the place where they can edit the tags on theier profile, and likie also stuff like thier name/contact/pronouns/whatver</h1> <br><br>

<div class="footer">
    <p>Old Dominion University Compuer Science Department, Professor Thomas Kennedy 2024</p>
    <p><a href="https://clars002.github.io/411-UConnect-website/">Sapphire Team Website</a></p>
    <p><a href="https://github.com/clars002/411-UConnect-website">Sapphire Team GitHub</a></p>
    <p><a href="https://github.com/zwasique/F24-Sapphire">UConnect Prototype GitHub</a></p>
  </div>