<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="icon" type="image/png" href="#logo">
    <link rel="stylesheet" type="text/css" href="/database/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UConnect</title>
  </head>

  <!--If we want to change the color scheme, start here-->
<body style="background-color:powderblue;">
<div class="background">

  <ul>
    <li><a id="active" href="">UConnect</a></li>
    <li><a href="/launch">Launch</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/search"></a>Search</li>
    <li><a href="mailto:cpett007@odu.edu">Contact</a></li>
    <li style="float:right"><a href="#Account">Account</a></li>
  </ul>

    <main>
        <h1>Welcome to UConnect!</h1>  
    </main>
 
    <!--This is sample text, to be changed upon final release-->
  <header>
  <h1 style="text-align:center;">Here is what I would like to include:</h1>
  <p style="text-align:center;">A source for students to connect with each other, specifically
    a way for them to build projects together. They will make postings that other students can see.<br>
    These postings will be projects other students from different majors can interact with if they are interested.
    Students can then work together to get experience, while learning the ropes!</p>
  </header>

  <h2>The need for this work is obvious, here are some ways students can benefit:</h2>
  <p>Students need experience to get experience now, companies that hire "entry level jobs" are now <br>
    asking these new hires to have one or two years of experience. This causes trouble for many college students looking
    for ways to get into the work force. <br>My solution is to provide a way for students to connect with each other
    and gain experience while still learning.</p>

  </div>

  <hr>

  <div class="footer">
    <p>Author: Team Sapphire</p>
    <p><a href="https://github.com/zwasique/F24-Sapphire">Team Sapphire Github</a></p>
  </div>
</div>

</body>
</html>