<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="icon" type="image/png" href="#logo">
    <link rel="stylesheet" type="text/css" href="/database/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Launch a post</title>
  </head>

<body style="background-color:powderblue;">
<div class="background">

  <ul>
    <li><a href="/database/Index.html">UConnect</a></li>
    <li><a id="active" href="/launch">Launch</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="#Search"></a>Search</li>
    <li><a href="mailto:cpett007@odu.edu">Contact</a></li>
    <li style="float:right"><a href="#Account">Account</a></li>
  </ul>

    <main>
        <h1>Launch a post:</h1>  
    </main>

  <form action="/action_page.php">
    <fieldset>
      <legend>Post information:</legend>
      First name:<br>
      <input type="text" name="firstname" value="Student"><br>
      Last name:<br>
      <input type="text" name="lastname" value="001"><br>
      Title:<br>
      <input type="text" name="title"><br>
      Tag 1:<br>
      <select name="tag1">
        <option value="none">None</option>
        <option value="art">Art</option>
        <option value="math">Math</option>
        <option value="science">Science</option>
        <option value="history">History</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="calculus">Calculus</option>
        <option value="programming">Programming</option>
        <option value="research">Research</option>
        <option value="writing">Writing</option>
        <option value="theater">Theater</option>
      </select><br>
      Tag 2:<br>
      <select name="tag2">
        <option value="none">None</option>
        <option value="art">Art</option>
        <option value="math">Math</option>
        <option value="science">Science</option>
        <option value="history">History</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="calculus">Calculus</option>
        <option value="programming">Programming</option>
        <option value="research">Research</option>
        <option value="writing">Writing</option>
        <option value="theater">Theater</option>
      </select><br>
      Tag 3:<br>
      <select name="tag3">
        <option value="none">None</option>
        <option value="art">Art</option>
        <option value="math">Math</option>
        <option value="science">Science</option>
        <option value="history">History</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="calculus">Calculus</option>
        <option value="programming">Programming</option>
        <option value="research">Research</option>
        <option value="writing">Writing</option>
        <option value="theater">Theater</option>
      </select><br>
      Tag 4:<br>
      <select name="tag4">
        <option value="none">None</option>
        <option value="art">Art</option>
        <option value="math">Math</option>
        <option value="science">Science</option>
        <option value="history">History</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="calculus">Calculus</option>
        <option value="programming">Programming</option>
        <option value="research">Research</option>
        <option value="writing">Writing</option>
        <option value="theater">Theater</option>
      </select><br>
      Tag 5:<br>
      <select name="tag5">
        <option value="none">None</option>
        <option value="art">Art</option>
        <option value="math">Math</option>
        <option value="science">Science</option>
        <option value="history">History</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="calculus">Calculus</option>
        <option value="programming">Programming</option>
        <option value="research">Research</option>
        <option value="writing">Writing</option>
        <option value="theater">Theater</option>
      </select><br>
      Tag 6:<br>
      <select name="tag6">
        <option value="none">None</option>
        <option value="art">Art</option>
        <option value="math">Math</option>
        <option value="science">Science</option>
        <option value="history">History</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="calculus">Calculus</option>
        <option value="programming">Programming</option>
        <option value="research">Research</option>
        <option value="writing">Writing</option>
        <option value="theater">Theater</option>
      </select><br>
      Description:<br>
      <textarea name="description" rows="10" columns="30"></textarea><br>
      Post:<br>
      <input type="submit" value="Launch!">
    </fieldset>
  </form>

  </div>

  <hr>

  <div class="footer">
    <p>Author: Team Sapphire</p>
    <p><a href="https://github.com/zwasique/F24-Sapphire">cpett007@odu.edu </a></p>
  </div>
</div>

</body>
</html>