<!-- 
 
All referenced from:  https://getbootstrap.com/docs/4.4/components/navbar/ 

The nav bar stuff does not display for me properly, moving back to basic html for it, but it should be relativly simple to transfer over like the colors and stuff
-Tyger

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="# {% url 'home' %}">UConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Launch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
      </ul>
    </div>
  </nav> 


  === Here is the html navbar copy for the pages, starts under <body> ===
<div class = "navbar">
	<a href = "/database/Index.html" title="home">Home</a>
	<a href = "/database/search.html" title = "search">Search</a>
	<a href = "/database/launch.html" title = "launch">Launch</a>
	<a href = "/datbase/account.html" title = "account">My Account</a>
</div>

=== Here is the html footer copy for the pages, put before the end of </body>

<div class="footer">
    <p>Old Dominion University Compuer Science Department, Professor Thomas Kennedy 2024</p>
    <p><a href="https://clars002.github.io/411-UConnect-website/">Sapphire Team Website</a></p>
    <p><a href="https://github.com/clars002/411-UConnect-website">Sapphire Team GitHub</a></p>
    <p><a href="https://github.com/zwasique/F24-Sapphire">UConnect Prototype GitHub</a></p>
  </div>

  -->