<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="#image">
    <link rel="stylesheet" type="text/css" href="database/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to my practice website!</title>
  </head>

<body style="background-color:powderblue;">
  <div class="background">

    <!--This is the custom navigation bar, subject to change-->
  <ul>
    <li><a href="#home">UConnect</a></li>
    <li><a href="#launch">Launch</a></li>
    <li><a id="active" href="/database/Posts.html">Posts</a></li>
    <li><a href="#search">Search</a></li>
    <li><a href="mailto:cpett007@odu.edu">Contact</a></li>
    <li style="float:right"><a href="#account">Account</a></li>
  </ul>

    <main>
        <h1>Posts:</h1>  
    </main>

  <header>
  <h1 style="text-align:center;">Here is what I would like to include:</h1>
  <p style="text-align:center;">A sequence of posts that students can opt in with the click of a button. These posts are the projects <br> are launched by students in the launch tab.</p>
  </header>

  <!--This will be the format(to be changed) for posts, it will later
  include multiple (up to 6) tags, a description, name and date-->
<table>
  <tr>
    <th>Student name</th>
    <th>Seeking for</th>
    <th>Tag 1</th>
    <th>Tag 2</th>
    <th>Tag 3</th>
  </tr>
  <tr>
    <td>Student001</td>
    <td>2</td>
    <td>Game design</td>
    <td>Programming</td>
    <td>Map design</td>
  </tr>
</table>
<h2>Description:</h2>

  <hr>

<table>
  <tr>
    <th>Student name</th>
    <th>Seeking for</th>
    <th>Tag 1</th>
    <th>Tag 2</th>
    <th>Tag 3</th>
  </tr>
  <tr>
    <td>Student001</td>
    <td>5</td>
    <td>Art</td>
    <td>Paint</td>
    <td>Creative</td>
  </tr>
</table>
<h2>Description:</h2>
  </div>

  <hr>

  <!--This is a footer, to be removed, sample information below-->
  <div class="footer">
    <p>Author: Caiden Petty</p>
    <p><a href="mailto:cpett007@odu.edu">cpett007@odu.edu </a></p>
  </div>
  </div>

</body>
</html>