<!-- For whoever is working on the front end of the site, this would be where we could put an intro page or something, this is just filler.-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="#image">
    <link rel="stylesheet" type="text/css" href="database/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Browse posts</title>
  </head>

<body style="background-color:powderblue;">
  <div class="background">

    <!--This is the custom navigation bar, subject to change-->
  <ul>
    <li><a href="/database/Index.html">UConnect</a></li>
    <li><a href="/launch">Launch</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a id="active" href="/search">Search</a></li>
    <li><a href="mailto:cpett007@odu.edu">Contact</a></li>
    <li style="float:right"><a href="#account">Account</a></li>
  </ul>

    <main>
        <h1>Search:</h1>  
    </main>

  
    <h1>User Posts</h1>
    <!-- This is the necessary code to display posts on the page -->
    {% for post in post_list %}
        <strong>{{ post.project_name }} by {{ post.author }} - Requires {{ post.num_required }} Seekers</strong>
        <ul>
        {{ post.written_text }}
        
        </ul>
    {% endfor %}    
    <!-- end necessary code-->


  <hr>

  <!--This is a footer, to be removed, sample information below-->
  <div class="footer">
    <p>Author: Team Sapphire</p>
    <p><a href="https://github.com/zwasique/F24-Sapphire">cpett007@odu.edu </a></p>
  </div>
  </div>

</body>
</html>