{% load static %}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>UConnect - Account</title>
  <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
	<nav><div id="navbar">
			<ul>
				<li class="active"><a href="/home"><img src="{% static '/images/logo.svg' %}" alt="logo">Home</a></li>
        <li><a href="/search">Search</a></li>
				<li><a href="/launch">Launch</a></li>
				<li><a href="/inbox">Inbox</a></li>
        <li style="float:right"><a href="/account">My Account</a></li>
			</ul>
	</div></nav>
        <body>
            <h1 style="text-align:center;">Here is where you view your account!</h1>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Biography</th>
                </tr>
            {% for user in users %}
# this should list every user. eventually we should have a line functionally equivalent to "if user is logged in".
# ideally it's stored locally so that a person only ever sees their own account and all other accounts are marked as
# logged off. maybe we should have a line on the sign in page that's like active user = school_email. then here we can
# be like "if active_user == [school_email]: display contents of user"
                <tr>
                    <td>{{ user.first_name }}
                    {{ user.last_name }}</td>
                    <td>{{ user.school_email }}</td>
                    <td>{{ user.biography }}</td>
                </tr>
               {% endfor %}
            <br><br><br><br><br>
            <form action="/action_page.php">
                <fieldset>
                  <legend>Edit Profile:</legend>
                  First name:<br>
                  <input type="text" name="firstname" value="Student"><br>
                  Last name:<br>
                  <input type="text" name="lastname" value="001"><br>
                  Bio:<br>
                  <textarea  style="width: 40%; height: 10%;" name="Bio" rows="10" columns="90"></textarea><br>
                  Select User Tags:<br>
                  <select name="tag1">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag2">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag3">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select><br>
                  <select name="tag4">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag5">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag6">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select><br><br><br>
                  <input type="submit" value="Save!">
                </fieldset>
              </form>
           
        </body>
    <nav><div id="footer">
        <br><p>Team Sapphire 2024, Old Domionion University CS411W Project</p><br>     
        <p><a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a></p>
        <p><a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a></p>    
        <p><a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a></p>   
    </div></nav>
</header>
