{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<header>
	<nav><div id="navbar">
			<ul>
				<li class="active"><a href="/home"><img src="{% static '/images/logo.svg' %}" alt="logo">Home</a></li>
                <li><a href="/search">Search</a></li>
				<li><a href="/launch">Launch</a></li>
				<li><a href="/inbox">Inbox</a></li>
            	<li style="float:right"><a href="/account">My Account</a></li>
			</ul>
	</div></nav>
        <body>
            <h1 style="text-align:center;">Welcome to UConnect!</h1>
            <br><br>
            <p style="text-align:center;">A source for students to connect with each other, specifically
                a way for them to build projects together. They will make postings that other students can see.<br>
                These postings will be projects other students from different majors can interact with if they are interested.
                Students can then work together to get experience, while learning the ropes!</p>
            
              <h2 style="text-align:center;">The need for this work is obvious, here are some ways students can benefit:</h2>
              <p style="text-align:center;">Students need experience to get experience now, companies that hire "entry level jobs" are now <br>
                asking these new hires to have one or two years of experience. This causes trouble for many college students looking
                for ways to get into the work force. <br>Our solution is to provide a way for students to connect with each other
                and gain experience while still learning.</p>
           
        </body>
    <nav><div id="footer">
        <br><p>Team Sapphire 2024, Old Domionion University CS411W Project</p><br>     
        <p><a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a></p>
        <p><a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a></p>    
        <p><a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a></p>   
    </div></nav>
</header>
