{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>UConnect - Inbox</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
	<nav><div id="navbar">
			<ul>
				<li><a href="/home"><img src="{% static '/images/logo.svg' %}" alt="logo">Home</a></li>
                <li><a href="/search">Search</a></li>
				<li><a href="/launch">Launch</a></li>
				<li class="active"><a href="/inbox">Inbox</a></li>
            	<li style="float:right"><a href="/account">My Account</a></li>
			</ul>
	</div></nav>
        <body>
            <br>
            <h1 style="text-align:center;">Here is where you view your conversations and notifications!</h1>
            <br><br>
            
        </body>
    <nav><div id="footer">
            Team Sapphire 2024, Old Dominion University • CS411W Project<br>     
            <a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a> • 
            <a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a> • 
            <a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a>  
    </div></nav>
</header>
