{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>UConnect - Inbox</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
	<nav><div id="navbar">
			<ul>
				<li><a href="/home"><img src="{% static '/images/logo.svg' %}" alt="logo">Home</a></li>
                <li><a href="/search">Search</a></li>
				<li><a href="/launch">Launch</a></li>
				<li class="active"><a href="/inbox">Inbox</a></li>
            	<li style="float:right"><a href="/account">My Account</a></li>
			</ul>
	</div></nav>
        <body>

            <h2 style="text-align:center;">Your Project Chats</h2>
            {% if inbox %}
                {% for conv in inbox %}
                        <a href="?conversation_id={{ conv.id }}">
                            <h4>{{ conv.post_id.project_name }}</h4>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no messages in your inbox. Visit the search page to find a project to join!</p>
            {% endif %}
           </div>

           {% if selected_conversation %}
                <h3>Conversation: {{ selected_conversation.post_id.project_name }}</h3> 

                <div class="messages">
                    {% for message in messages %}
                        <p><strong>{{ message.sender.username }}</strong>
                        {{ message.time_sent}}</p>
                        <p>{{ message.message_content }}</p>
                </div>
                {% empty %}
                    <p>No messages. Send a message below!</p>
                {% endfor %}

                    <h4>Send a Message</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit">Send!</button>
                    </form>
                    
            {% else %}
                <p>Select a conversation to view messages.</p>
            {% endif %}
            
        </body>
    <nav><div id="footer">
            Team Sapphire 2024, Old Dominion University • CS411W Project<br>     
            <a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a> • 
            <a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a> • 
            <a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a>  
    </div></nav>
</header>
