<!DOCTYPE html>
<header>
    <link rel="stylesheet" href="style.css">
	<nav><div id="navbar">
			<ul>
				<li class="active"><a href="home"><img src="images/logo.svg" alt="logo">Home</a></li>
                <li><a href="search">Search</a></li>
				<li><a href="launch">Launch</a></li>
				<li><a href="inbox">Inbox</a></li>
            	<li><a href="account">My Account</a></li>
			</ul>
	</div></nav>
        <body>
            <h1 style="text-align:center;">Here is where you launch a post!</h1>
            <br><br>
            <form action="/action_page.php">
                <fieldset>
                  <legend>Post information:</legend>
                  <!--First name:<br>
                  <input type="text" name="firstname" value="Student"><br>
                  Last name:<br>
                  <input type="text" name="lastname" value="001"><br> should get name from user profile?-->
                  Title:<br>
                  <input type="text" name="title" value="Project Title Name"><br>
                  Select Tags:<br>
                  <select name="tag1">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag2">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag3">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag4">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag5">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag6">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select><br>
                  Number of people needed:<br>
                  <input type="text" name="numAmount" value="..."><br>
                  Description:<br>
                  <textarea name="description" rows="10" columns="90"></textarea><br><br>
                  Post:<br>
                  <input type="submit" value="Launch!">
                </fieldset>
              </form>

              
           
        </body>
    <nav><div id="footer">
        <br><p>Team Sapphire 2024, Old Domionion University CS411W Project</p><br>     
        <p><a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a></p>
        <p><a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a></p>    
        <p><a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a></p>   
    </div></nav>
</header>
