{% load static %}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>UConnect - Launch</title>
  <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
	<nav><div id="navbar">
			<ul>
				<li><a href="/home"><img src="{% static '/images/logo.svg' %}" alt="logo">Home</a></li>
        <li><a href="/search">Search</a></li>
				<li class="active"><a href="/launch">Launch</a></li>
				<li><a href="/inbox">Inbox</a></li>
        <li style="float:right"><a href="/account">My Account</a></li>
			</ul>
	</div></nav>
        <body>
          <br>
            <h1 style="text-align:center;">Here is where you launch a post!</h1>
            <br><br>
            <form method="post">
              {% csrf_token %}
                <div class="fieldWrapper">
                {{ form.project_name.label_tag }} {{ form.project_name }}
             </div>
            <div class="fieldWrapper">
               {{ form.num_required.label_tag }} {{ form.num_required }}
             </div>
             <div class="fieldWrapper">
                {{ form.project_length.label_tag }} {{ form.project_length }}
             </div>
            <div class="fieldWrapper">
              {{ form.post_body.label_tag }} {{ form.post_body }}
            </div>

            <!-- Dropdowns for tags -->
            <div class="tags-container">
                <div class="tag-dropdown">{{ form.tag_1.label_tag }} {{ form.tag_1 }}</div>
                <div class="tag-dropdown">{{ form.tag_2.label_tag }} {{ form.tag_2 }}</div>
                <div class="tag-dropdown">{{ form.tag_3.label_tag }} {{ form.tag_3 }}</div>
                <div class="tag-dropdown">{{ form.tag_4.label_tag }} {{ form.tag_4 }}</div>
                <div class="tag-dropdown">{{ form.tag_5.label_tag }} {{ form.tag_5 }}</div>
                <div class="tag-dropdown">{{ form.tag_6.label_tag }} {{ form.tag_6 }}</div>
            </div>

    <input type="submit" value="Launch!">
              
           
        </body>
        <nav><div id="footer">
          Team Sapphire 2024, Old Dominion University • CS411W Project<br>     
          <a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a> • 
          <a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a> • 
          <a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a>
  </div></nav>
</header>