{% load static %}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>UConnect - Launch</title>
  <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
	<nav><div id="navbar">
			<ul>
				<li><a href="/home"><img src="{% static '/images/logo.svg' %}" alt="logo">Home</a></li>
        <li><a href="/search">Search</a></li>
				<li class="active"><a href="/launch">Launch</a></li>
				<li><a href="/inbox">Inbox</a></li>
        <li style="float:right"><a href="/account">My Account</a></li>
			</ul>
	</div></nav>
        <body>
            <h1 style="text-align:center;">Here is where you launch a post!</h1>
            <br><br>
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                  <div class="fieldWrapper">
                      {{ field.errors }}
                      {{ field.label_tag }} {{ field }}
                  </div>
                  {% endfor %}
                  <input type = "submit" value="Launch!">
              </form>

              
           
        </body>
    <nav><div id="footer">
        <br><p>Team Sapphire 2024, Old Domionion University CS411W Project</p><br>     
        <p><a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a></p>
        <p><a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a></p>    
        <p><a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a></p>   
    </div></nav>
</header>