{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>UConnect - Login</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
        <body>
            <h1 style="text-align:center;">Here is where you log in!</h1>
            <br>
            <center>
            <p>Need an account? <br><a href="/signup"> Sign Up Here!</a><br><br></p>
            
            
            <form action="/home">
                <fieldset>
                  <legend>Log In:</legend>
                  Email:<br>
                  <input type="text" name="email" value="Student@edu"><br>
                  Password:<br>
                  <input type="text" name="password" value="Password"><br>
                  <input type="submit" value="Log In!">
                </fieldset>
              </form></center>
        </body>
    <nav><div id="footer">
            Team Sapphire 2024, Old Dominion University • CS411W Project<br>     
            <a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a> • 
            <a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a> • 
            <a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a> 
    </div></nav>
</header>
