{% load static %}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>UConnect - Search</title>
  <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
	<nav><div id="navbar">
			<ul>
				<li><a href="/home"><img src="{% static '/images/logo.svg' %}" alt="logo">Home</a></li>
        <li class="active"><a href="/search">Search</a></li>
				<li><a href="/launch">Launch</a></li>
				<li><a href="/inbox">Inbox</a></li>
        <li style="float:right"><a href="/account">My Account</a></li>
			</ul>
	</div></nav>
        <body>
            <br>
            <h1 style="text-align:center;">Search for posts and users!</h1>
            <body>
              <span class="filter-style"><strong> Filtering by tags: </strong><i>{{ filter_tags }} </i></span>
              <span class="filter-style"><strong> Filtering by text: </strong><i>{{ filter_text }} </i></span>
            </span> </body>

            <!-- i think we need a div so that we can put this portion on the right side or something -->
            <tr>
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper" style="text-align: center;">
                        {{ field.errors }}
                       <strong> {{ field.label_tag }} </strong><br> {{ field }}
                    </div>
                    <br>
                    {% endfor %}
                    <br>
                    <div class="search-submit-button">
                    <input type = "submit" value="Search!">
                    </div>
                </form>
            <!-- <form action="/action_page.php">
                <fieldset>
                  <legend>Search</legend>
                  <strong>Select Search Tags:</strong><br>
                  <div class="custom-select-options" style="width=200px">
                  <select name="tag1">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag2">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag3">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag4">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag5">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag6">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option><br><br>
                  </div>
                  <input type="submit" value="Search!">
                </fieldset>
              </form> -->
              <br>
              
              <!--start of containers-->
              <div class="scrollable-container">
                <!--<h1 style="text-align: center; text-decoration: underline; font-weight: bold; color: #362312;">Posts</h1><br>
              -->
                <div class="posts-section">
                {% for post in posts %}
                <div class="post">
                <h2>
                <span class="project-name">{{ post.project_name }}</span>
                <span class="post-author">Launcher: {{ post.author }}</span>
                <span class="num-required">{{ post.project_length }} Months</span>
                <br> <br>
                
                <span class="num-required">{{ post.num_required }} Seekers</span>
                {% for tag in post.tags.all %}
                  <span class="tags-style"><td>{{ tag.name }}</td></span>
                {% endfor %}
                </h2>
              <div class="post-class">
              {{ post.post_body }}
              </div>
              <br>
              <span class="num-required">Posted at: {{ post.publish_datetime }}</span>
               <hr>
                </div>
             {% endfor %}
            </div>


            <div class="divider"></div> <!--line between the two sections ... tbc to form-->
                <div class="users-section">
                    <!--<h1 style="text-align: center; text-decoration: underline; font-weight: bold; color: #362312;">Users</h1><br>
                -->
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.biography }}</td>
                    {% for tag in user.tags.all %}
                      <td>{{ tag.name }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </div>
          </div> <!--end of scroll containers-->
        
            </body>
    <nav><div id="footer">
            Team Sapphire 2024, Old Dominion University • CS411W Project<br>     
            <a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a> • 
            <a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a> • 
            <a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a>
    </div></nav>
</header>
