<!DOCTYPE html>
<header>
    <link rel="stylesheet" href="style.css">
	<nav><div id="navbar">
			<ul>
				<li class="active"><a href="home.html"><img src="logo.svg" alt="logo">Home</a></li>
                <li><a href="search.html">Search</a></li>
				<li><a href="launch.html">Launch</a></li>
				<li><a href="inbox.html">Inbox</a></li>
            	<li><a href="account.html">My Account</a></li>
			</ul>
	</div></nav>
        <body>
            <h1 style="text-align:center;">Here is where you search for posts and users!</h1>
            <br><br>
            <form action="/action_page.php">
                <fieldset>
                  <legend>Search:</legend>
                  Select Search Tags:<br>
                  <select name="tag1">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag2">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag3">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag4">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag5">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option>
                  </select>
                  <select name="tag6">
                    <option value="none">None</option>
                    <option value="art">Art</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="biology">Biology</option>
                    <option value="calculus">Calculus</option>
                    <option value="programming">Programming</option>
                    <option value="research">Research</option>
                    <option value="writing">Writing</option>
                    <option value="theater">Theater</option><br><br>
                  <input type="submit" value="Search!">
                </fieldset>
              </form>
              <br><br>
              <p>Here is an example to how it may look</p>
              <table>
                <tr>
                  <th>Student name</th>
                  <th>Seeking for</th>
                  <th>Tag 1</th>
                  <th>Tag 2</th>
                  <th>Tag 3</th>
                </tr>
                <tr>
                  <td>Student001</td>
                  <td>2</td>
                  <td>Game design</td>
                  <td>Programming</td>
                  <td>Map design</td>
                </tr>
              </table>
              <h3>Description:</h3><br>
              <p>I want to make a video game!</p>
              
                <hr>
              
              <table>
                <tr>
                  <th>Student name</th>
                  <th>Seeking for</th>
                  <th>Tag 1</th>
                  <th>Tag 2</th>
                  <th>Tag 3</th>
                </tr>
                <tr>
                  <td>Student002</td>
                  <td>5</td>
                  <td>Art</td>
                  <td>Paint</td>
                  <td>Creative</td>
                </tr>
              </table>
              <h3>Description:</h3><Br>
                <p>I want to make a poster!</p>
                </div>
           <br><br><br>
        </body>
    <nav><div id="footer">
        <br><p>Team Sapphire 2024, Old Domionion University CS411W Project</p><br>     
        <p><a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a></p>
        <p><a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a></p>    
        <p><a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a></p>   
    </div></nav>
</header>
