{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>UConnect - Sign Up</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/logo.svg' %}">
</head>
<header>
        <body>
            <h1 style="text-align:center;">Here is where you sign up for an account!</h1>
            <br><br>
            <center>
                <div>
                    <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% endfor %}
                        <input type = "submit" value="Sign Up!">
                    </form>
                </div>
            </center>
        </body>
    <nav><div id="footer">
            <br><p>Team Sapphire 2024, Old Dominion University • CS411W Project<br>
            <a href="https://github.com/zwasique/F24-Sapphire/tree/main">Prototype Github</a> • 
            <a href="https://github.com/clars002/411-UConnect-website">Team Sapphire Github</a> • 
            <a href="https://clars002.github.io/411-UConnect-website/">Team Sapphire Website</a></p>    
    </div></nav>
</header>
