/*=== BODY SECTION ===*/
body{
	background-image: linear-gradient(#8cb1d2, #4c7191);
	font-family: Arial, Helvetica, sans-serif;
	color:#0f0d0b;
	padding: 0;
    margin: 0; 
	height: 100%;
}

html{
	height: 100%;
}

p {
	font-size: 20px;
}

div.post-body {
	font-size: 10px; 
}

input[type=submit]{
		background-color: #FFFFFF;
		color: #25170a;
		border: 2px solid #362312; 
		font-size:16px;
		padding: 10px 20px; 
		cursor: pointer;
		text-align: center;
		border-radius: 5px;
}

input[type=submit]:hover{
	background-color: #362312;
	color: #FFFFFF;
}

input[type=text]{
		background-color: #FFFFFF;
		color: #25170a;
		border: 2px solid #362312; 
		font-size:16px;
		padding: 5px 10px; 
		border-radius: 5px;
}

textarea{
	background-color: #f9f9f9;
	color: #25170a;
	border: 3px solid #362312; 
	font-size:16px;
	padding: 10px 20px; 
	box-shadow:5px 5px #396993;
	resize: none; 
}

.project-name{
	color:#000000; 
	background-color:#F9F9F9; 
	padding: 10px 15px; 
	border-radius: 5px;
	border: 2px solid #362312; 
	font-size:30px;
}

.post-author{
	color:#000000;
	background-color:#F9F9F9; 
	padding: 5px 10px; 
	border-radius: 5px;
	border: 2px solid #362312; 
	font-size:17px;
}

.num-required{
	color:#000000;
	background-color:#F9F9F9; 
	padding: 5px 10px; 
	border-radius: 5px;
	border: 2px solid #362312; 
	font-size:17px;
}

.post-class{
	color:#000000;
	background-color:#F9F9F9; 
	padding: 5px 10px; 
	border-radius: 5px;
	border: 2px solid #362312; 
	font-size:15px;
}

.tags-style{
	color:#F9F9F9;
	background-color:#2b2b2b; 
	padding: 5px 10px; 
	border-radius: 5px;
	border: 2px solid #F9F9F9; 
	font-size:15px;
}


/* === NAVBAR SECTION === */
#navbar{
	position: relative;
  	left: 0;
 	top: 0;
  	width: 100%;
	float: left;
	padding: 0;
    margin: 0; 
	background-image: linear-gradient(to right,#362312, #422913);
}
	
#navbar ul{
	text-align: center;
	padding: 0;
    margin: 0; 
	background-image: linear-gradient(to right,#362312, #422913);
	overflow: hidden;
}

#navbar li img {
    height: 60px; /* match the size of the other "buttons" */
    width: auto;  /* should just work out i think */
    vertical-align: middle; /* center align */
	list-style-type: none;
}
	
#navbar li{
	padding: 0;
	margin: 0;
	float: left;
	list-style-type: none;
}
	
#navbar li a, #navbar li span{
	display: inline-block; /* do not chnage this to float as it makes black dots appear in the nav bar for some reason?*/
	padding: 0em 1.5em; /*em should keep it to scale as its zoomed in/out*/
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 60px;
}
	
#navbar li a{
	color: #f7ede5;
}
	
#navbar li:hover a, #navbar li span{
	background: #8d7260;
	color: #0f0d0b;
	text-decoration: none;
}

.navbar-right {
	float: right
}

/*Active class*/
.active {
	background-color: #664a37;
  }

/* === FOOTER SECTION === */
#footer{
	position: sticky;
	height: 40px;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background-image: linear-gradient(to right,#362312, #422913);
	color: white;
	text-align: center;
	padding: 7px 7px;
    margin: 0; 
}

/* === LINK SECTION === */
a:link {
	color: white;
}

a:visited {
	color: plum;
}

th, td {
  padding-left: 7px;
  padding-right: 7px;
}

/* === SEARCH TAB SECTIONS :) GOD I HOPE THIS WORKS === */
.scrollable-container {
    display: flex;
    flex-direction: row; /* boxes should be left-right*/
    justify-content: space-between; /*add space cause it kinda clips*/
    align-items: stretch; /*they should be the same tall size*/
    background-color: #f7ede583; /* SEMI TRANSPARENT ...(translucent) lightish background color */
    padding: 20px;
    gap: 20px; /* Space between posts, divider, and users */
}

/*post part, think the content should be transferable from the database*/
.posts-section {
    flex: 2; /* the screen should be divided into 3rds so the posts are the largest third */
    max-width: 66%;
	/* ok taking away and adding back so it works
	padding: 15px;
    background-color: #97c2e9; /* slightly lighter blue than the background one */
    /*border-radius: 5px; /*rounding it out lol*/
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    overflow-y: auto; /* so like scroll down...in place? might have to add fixed types *//*
	*/
}

.users-section {
    flex: 1;
	max-width: 33%;
    /*padding: 15px;
    background-color: #97c2e9; /* slightly lighter blue than the background one */
    /*border-radius: 5px;
    overflow-y: auto; /* should only scroll up and down */
}

/* Divider line so it has some degree of seperation */
.divider {
    width: 4px; /*(all of this can be changed*/
	flex-shrink: 0; /* shink issue??? */
    background-color: #0f0d0b; /* its the same color as the nav bar */
}

/*AVERAGE THE STUFF OUT */
.post, .user {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; 
}