ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(#active) {
  background-color: #111;
}

#active {
  background-color: #D3D3D3;
}

.footer {
font-size: 1em;
clear: both;
width: 100%;
text-align: center;
}

table, th, td {
  border: 1px solid;
}

a:link {
font-family: Arial, Helvetica, sans-serif;
color: #6F8FAF;
text-decoration: underline;
}
a:visited {
color: #6F8FAF;
}
a:hover {
background: #0000FF;
}

div.background {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("/database/images/tech.jpg");
  image-resolution: from-image 300dpi;
  background-size: cover;
  height: 600px;
  border: 2px solid black;
  background-repeat: no-repeat;
}